/fleche2.png
/fleche3.png
/COFFER_AMAN.mp4
/db.sqlite3
/dist
/__pycache__
/tempCodeRunnerFile.py
/fr/__pycache__
/ar/__pycache__
/fr/depot/__pycache__
/ar/depotAR/__pycache__
/fr/retrait/__pycache__
/ar/retraitAR/__pycache__
