# Python standard dependencies
# to create a exe file tape pyinstaller --onedir  --icon gaga.ico --name gaga main.py 
sqlite3
paramiko
Tkiner
custom_tkinter
serial
arabic-reshaper 
python-bidi
pillow
pyinstaller
